doctype html
html
  head
    title My App for Liam
    link(rel='stylesheet', href='app.css', type='text/css')
  body
    .header
      .imhold
        img#theLogo.logiIm(alt='logo', src='/logo.png')
      .navhold
        .topnav
          a(href='/') Home
          a(href='/products') Products
          a(href='#') Add New Product
    .row
      .holder
        .large
          h1 Running
          h2 Accessories
        .normal
          h1 Swimming
          h2 Accessories
        .normal2
          h1 Cycling
          h2 Accessories
    .footer
      p
        | Liam Made this Node JS Application