extends layout
block content
    .row
      .holder
        .large
          h1 Running
          h2 Accessories
        .normal
          h1 Swimming
          h2 Accessories
        .normal2
          h1 Cycling
          h2 Accessories
