doctype html
html
  head
    meta(charset='UTF-8')
    title Liams App
    link(rel='stylesheet', href='../app.css', type='text/css')
  body
    .header
      .imhold
        img#poster.logiIm(alt='lo', src='/logo.png')
      .navhold
        .topnav
          a(href='/') Home
          a(href='/products') Products
          a(href='#') Add New Product
       block content
       
    .footer
      p Liams Node.js Application Well
      p Images from Pixabay.com
      
      
      
      
